p,h1,h2,h3,h4,h5,h6,a {
    font-family: Helvetica, sans-serif;
    color: black;
}

a {
    padding-right: 8px;
}

body {
    background-color: #eaeaea;
    margin: 10vw;
}

footer {
    position: absolute;
    bottom: 5%;
}